.movie-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.movie-box {
  width: 210px;
}

@media only screen and (max-width: 767px) {
  .movie-box {
    width: 100% !important;
  }
}
